@use "mixin" as *;


footer {
  .footer-content {
    border-top: 1px solid #d9d9d9;
    .footer-wrap {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      max-width: 1440px;
      margin: 0 auto;
      padding: 26px 24px;
      flex-direction: row;
      @include breakpoint(notebook) {
        padding: vw(26 24, $design-d);
      }
      @include breakpoint(mobile) {
        padding: vw(36 12, $design-m);
        gap: vw(20, $design-m);
        flex-direction: column;
      }
      .copyright {
        color: #000;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        padding-right: 24px;
        @include breakpoint(mobile) {
          @include font-size(M, 12px);
          line-height: vw(16, $design-m);
        }
        .bold {
          font-size: 13px;
          line-height: 17px;
          padding-top: 4px;
          @include breakpoint(mobile) {
            padding-top: vw(36, $design-m);
            @include font-size(M, 13px);
            line-height: vw(17, $design-m);
          }
        }
      }
    }
  }
}
